@import url("./base.css");


footer {
  background-color: var(--color-primary-100);
  padding: 1rem;
  text-align: left;
  color: var(--color-primary-600);
  list-style: none;
  text-decoration: none;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-primary-100);
  text-align: left;
}

.footerBlock {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
  font-size: .9rem;
}

.footerBlock h4 {
  margin-bottom: 1rem;
  color: #000000;
}

.footerLinks {
  color: var(--color-secondary-400);
  text-decoration: none;
}

.footerParagraph {
  color: var(--color-secondary-700);
  text-align: left;
  max-width: 14rem;
}

.footerDivider {
  margin: 1rem 0;
  color: var(--color-neutral-100);
}

.copyrightParagraph {
  text-align: center;
  color: var(--color-secondary-300);
  font-size: .8rem;
}