@import url("./base.css");

.navContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navParagraph {
  width: 100%;
  padding: 0.2rem;
  text-align: center;
  background-color: #000000;
  color: #ffffff;
}

.navItems {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-primary-100);
  text-decoration: none;
  list-style: none;
  padding: 1rem 4rem;
}

.navMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.navMenu li {
  list-style: none;
  text-decoration: none;
}

.navLogo {
  color: #000000;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
}

.navLinks {
  font-weight: 500;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
}

.navIcons {
  display: flex;
  gap: 2rem;
  color: var(--color-primary-600);
  list-style: none;
}

footer {
  background-color: var(--color-primary-100);
  padding: 1rem;
  text-align: left;
  color: var(--color-primary-600);
  list-style: none;
  text-decoration: none;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-primary-100);
  text-align: left;
}

.footerBlock {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
  font-size: .9rem;
}

.footerBlock h4 {
  margin-bottom: 1rem;
  color: #000000;
}

.footerLinks {
  color: var(--color-secondary-400);
  text-decoration: none;
}

.footerParagraph {
  color: var(--color-secondary-700);
  text-align: left;
  max-width: 14rem;
}

.footerDivider {
  margin: 1rem 0;
  color: var(--color-neutral-100);
}

.copyrightParagraph {
  text-align: center;
  color: var(--color-secondary-300);
  font-size: .8rem;
}